In [ ]:
"""
<판다스(pandas)>
- 행렬 데이터를 처리하기 위한 다양한 함수가 들어있는 라이브러리
- 데이터 처리를 위해 가장 많이 사용되는 라이브러리

<넘파이(numpy)>
- 수치 데이터를 처리하기 위한 라이브러리
- 판다스에서도 문자 수치 모두 처리는 가능하지만, 수치데이터에 대해서는 numpy가 처리 속도가 다고 빠른 장점이 있음

<데이터 분석 과정>
- 데이터 수집 > 데이터 전처리 > 데이터 정제> 데이터 시각화 > 인사이트 도출
- 데이터 수집 > 데이터 전처리 > 데이터 정제> 데이터 분석(머신러닝/딥러닝) > 데이터 시각화
- 데이터 수집 > 데이터 전처리 > 데이터 정제> 데이터 분석 > 서비스(어플리케이션 or 웹 서비스)

* 데이터 수집 : 파일 다운로드, Open-Api 수집, 웹데이터 수집
* 데이터 전처리 + 정제 : 데이터의 이상 유무(결측치, 중복치, 이상치) 확인, 정규화(표준화), 분리(훈령/검증/테스트)
"""

In [1]:
import pandas as pd

In [14]:
file_path = "C:\\Users\\Administrator\\bk_20230314\\1day_data\\files\\sample_1.xlsx"

sample_1 = pd.read_excel(file_path, 
                         header=1, 
                         skipfooter=2, 
                         usecols="A:C")

print(sample_1)

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [ ]:
type(sample_1)

In [15]:
### 데이터프레임에 저장된 데이터의 정보 확인하기
#info() 함수를 이용해서 데이터의 결측치(NoN값) 확인이 가능함
sample_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [16]:
### 상위 데이터 조회시 사용
# 데이터 인사이트 도출 시에 순의 데이터 가져올 떄 사용하면 편리
# 예시) 올해의 인기음원 Top10 
sample_1.head()

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912

In [17]:
sample_1.tail(2)

  국적코드  성별    입국객수
4  A18  남성  158912
5  A18  여성  232943

In [18]:
### 기초통계 데이터 조회하기
# 이상치 데이터 확인 가능
sample_1.describe()

                입국객수
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000