In [ ]:
a = 5

## 변수 정의

In [ ]:
'''
데이터 타입의 구분(python 기준)

< 한 개의 값을 저장하는 타입>
 - 일반변수
 - int, str, float, bool

< 여러 개의 값을 저장하는 타입>
 - List, Dict, Tuple, DataFrame
'''

'\n데이터 타입의 구분(python 기준)\n\n< 한 개의 값을 저장하는 타입>\n - 일반변수\n - int, str, float, bool\n\n< 여러 개의 값을 저장하는 타입>\n - List, Dict, Tuple, DataFrame\n'

In [6]:
### < 한 개의 값을 저장하는 타입>
# - 타입이 정해지는 시점 : 값이 정의될 때
# - 하나의 변수에 여러 타입을 수정해서 넣을 수 있다

### a라는 변수에 10이라는 정수값을 넣어라
# - 하나의 메모리 공간에 10이라는 값을 넣어서, 메모리 주소를 a라는 변수에 넣어줌
a = 10
print(a)

a = 'aaa'
a = 10.5
a = True

10

In [8]:
### < 여러 개의 값을 저장하는 타입>
# - List, Dict, Tuple, DataFrame
# 사용하는 기호에 따른 구분
# - List : [] -> 여러 자료형의 데이터를 담을 수 있음(순서=index o)
# - Dict : {} -> 여러 자료형의 데이터를 key:value 형태로 담을 수 있음(순서x)
# - Tuple : () -> 리스트와 동일하게 사용되며, 다만 수정을 못한다는 차이점만 있음

a_list = [10, "aaa", 10.5, True]
a_list

[10, 'aaa', 10.5, True]

In [28]:
a= 20

b_list = [a, a_list]
b_list[1][1]

'aaa'

In [14]:
a_str = 'abcde'
a_str[0], a_str[1]

('a', 'b')

In [23]:
dict_data = {'name' : '홍길동', 'age' : 50, 'area' : '부산'} # 메모리 공간 10개
dict_data['name']
dict_data['name'] = '홍길동2'
dict_data

{'name': '홍길동2', 'age': 50, 'area': '부산'}

In [30]:
b_list.append('홍길동')
b_list

[20, [10, 'aaa', 10.5, True], '홍길동']

In [31]:
### 딕셔너리 -> key값 조회하기
dict_data.keys()

dict_keys(['name', 'age', 'area'])

In [33]:
dict_data.values()

dict_values(['홍길동2', 50, '부산'])

In [34]:
dict_data.items()

dict_items([('name', '홍길동2'), ('age', 50), ('area', '부산')])

In [58]:
a_list
len(a_list)

4

In [59]:
### a_list의 값들을 for 반복문을 이용해서 출력
# 반복문 사용 방법 1: 인덱스 번호 이용
# for(i=0; i<10; i++){}
for i in range(0, len(a_list), 1):
    print(a_list[i])

10
aaa
10.5
True

In [62]:
# 반복문 사용 방법 2: 값을 이용
for v in a_list:
    print(v)

10
aaa
10.5
True

In [78]:
for i in dict_data.keys():
    print(i, dict_data[i])

name 홍길동2
age 50
area 부산

In [70]:
for v in dict_data.values():
    print(v)

홍길동2
50
부산

In [79]:
dict_data.items()

dict_items([('name', '홍길동2'), ('age', 50), ('area', '부산')])

In [81]:
for k, v in dict_data.items():
    print(k, v)

name 홍길동2
age 50
area 부산